<!DOCTYPE html>
<html>

<head>
    <title>Crypto Detail</title>
    <link rel='stylesheet' href='/css/account.css'>
    <link rel='stylesheet' href='/css/global.css'>
<!-- adds the css stylesheets as well as the header for the account page-->
</head>

<body>
    <button id="Home">Home</button>
    <button id="Portfolio" type="button">Portfolio</button>
    <button id="Logout" type="button">Logout</button>
    <h1>
        Your Account Information
    </h1>
    <p>
        <label for="username">Username:</label>
        <span id="username">
            <p> jgc0990 </p>
        </span>

        <label for="firstName">First Name:</label>
        <span id="firstName">
            <p> Joshua </p>
        </span>

        <label for="lastName">Last Name:</label>
        <span id="lastName">
            <p>Chenoweth</p>
        </span>

        <label for="dob">Date of Birth:</label>
        <span id="dob">
            <p>09/09/2003</p>
        </span>
    </p>
    <!-- for now the account information is hardcoded into the account section, the functionality for populating it is in crypto.js, i just could not get it functioning-->
</body>
<script src="/js/global.js"></script>
<script src="/js/account.js"></script>
<!-- links the javascript files to the page -->

</html>