<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/CSS/portfolio.css">
    <link rel="stylesheet" href="/CSS/global.css">
    <!-- links the css files -->
</head>

<body>
    <button id="Home">Home</button>
    <Button id="Portfolio">Portfolio</Button>
    <Button id ="Details">Details</Button>
    <button id = "index">Login</button>
    <!-- adds all the necessary buttons to the portfolio page -->
    <script src="/js/global.js"></script>
    <h1>Your Portfolio</h1>
    <table class="Portfolio-Table">
        <!-- for now, hardcodes the portfolio page with a mock fill of crypto data -->
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Price (USD)</th>
            <th>24h Change (%)</th>
            <th>Purchase Amount</th>
            <th>Purchase Price</th>
            <th>Purchase Value</th>
            <th>Current Value</th>
            <th>Percent Change (%)</th>
        </tr>
        <tr>
            <td class="Rank">1</td>
            <td class="Name">Bitcoin</td>
            <td class="Symbol">BTC</td>
            <td class="Price (USD)">6,929.822</td>
            <td class="24th change (%)">-0.8101</td>
            <td class="Market Cap (USD)">526,000,000,000</td>
            <td class="Supply">17193925</td>
            <td class="Volume (24h)">2,927,959,461.175</td>
            <td class="Volume-weighted average price (24h)">7,175.066</td>
        </tr>
        <tr>
            <td class="Rank">2</td>
            <td class="Name">Ethereum</td>
            <td class="Symbol">ETH</td>
            <td class="Price (USD)">1555.97</td>
            <td class="24th change (%)">-0.100</td>
            <td class="Market Cap">187,118,190,197</td>
            <td class="Supply">101160540</td>
            <td class="Volume 24h">1,026,669,440,645</td>
            <td class="Volume-weighted average price (24h)">415.329</td>
        </tr>
        <tr>
            <td class="Rank">3</td>
            <td class="Name">XRP</td>
            <td class="Symbol">XRP</td>
            <td class="Price (USD)">0.42</td>
            <td class="24th change (%)">-1.9518</td>
            <td class="Market Cap (USD)">16,517,228,249.29</td>
            <td class="Supply">39299874590</td>
            <td class="Volume 24h">149,328,134.503</td>
            <td class="Volume-weighted average price (24h)">0.432</td>
        </tr>
        <tr>
            <td class="Rank">4</td>
            <td class="Name">Bitcoin Cash</td>
            <td class="Symbol">BCH</td>
            <td class="Price (USD)">688.862</td>
            <td class="24th change (%)">-1.5016</td>
            <td class="Market Cap (USD)">11,902,454,455.154</td>
            <td class="Supply">17278438</td>
            <td class="Volume 24h">287,075,418.52</td>
            <td class="Volume-weighted average price (24h)">711.628</td>
        </tr>
        <tr>
            <td class="Rank">5</td>
            <td class="Name">EOS</td>
            <td class="Symbol">EOS</td>
            <td class="Price (USD)">6.982</td>
            <td class="24th change (%)">-0.2488</td>
            <td class="Market Cap (USD)">6,327,688,685.505</td>
            <td class="Supply">906245118</td>
            <td class="Volume 24h">373,717,579.087</td>
            <td class="Volume-weighted average price (24h)">7.035</td>
        </tr>
        <tr>
            <td class="Rank">6</td>
            <td class="Name">Stellar</td>
            <td class="Symbol">XLM</td>
            <td class="Price (USD)">0.234</td>
            <td class="24th change (%)">-3.4735</td>
            <td class="Market Cap (USD)">4,395,265,468.804</td>
            <td class="Supply">18770261348</td>
            <td class="Volume 24h">28,186,508.681</td>
            <td class="Volume-weighted average price (24h)">0.241</td>
        </tr>
        <tr>
            <td class="Rank">7</td>
            <td class="Name">Litecoin</td>
            <td class="Symbol">LTC</td>
            <td class="Price (USD)">73.348</td>
            <td class="24th change (%)">-1.3118</td>
            <td class="Market Cap (USD)">4,234,484,929.643</td>
            <td class="Supply">57731482</td>
            <td class="Volume 24h">226,037,979.68</td>
            <td class="Volume-weighted average price (24h)">75.166</td>
        </tr>
        <tr>
            <td class="Rank">8</td>
            <td class="Name">Cardano</td>
            <td class="Symbol">ADA</td>
            <td class="Price (USD)">0.129</td>
            <td class="24th change (%)">0.0079</td>
            <td class="Market Cap (USD)">3,342,664,439.123</td>
            <td class="Supply">25927070538</td>
            <td class="Volume 24h">32,741,914.136</td>
            <td class="Volume-weighted average price (24h)">0.131</td>
        </tr>
        <tr>
            <td class="Rank">9</td>
            <td class="Name">Tether</td>
            <td class="Symbol">USDT</td>
            <td class="Price (USD)">1.001</td>
            <td class="24th change (%)">0.1167</td>
            <td class="Market Cap (USD)">2,439,361,941.984</td>
            <td class="Supply">2437140346</td>
            <td class="Volume 24h">2,257,075,318.347</td>
            <td class="Volume-weighted average price (24h)">1.009</td>
        </tr>
        <tr>
            <td class="Rank">10</td>
            <td class="Name">IOTA</td>
            <td class="Symbol">MIOTA</td>
            <td class="Price (USD)">0.865</td>
            <td class="24th change (%)">-5.2487</td>
            <td class="Market Cap (USD)">2,403,573,545.027</td>
            <td class="Supply">2779530283</td>
            <td class="Volume 24h">39,603,276.833</td>
            <td class="Volume-weighted average price (24h)">0.899</td>
        </tr>
        <script src="/js/portfolio.js"></script>
    </table>
    <!-- the labels and inputs in this form set up the functionality allow the user to buy and sell currencies of their choice-->
    <form id = "crypto"></form>
        <label for="Cryptocurrency">Cryptocurrency:</label><br>
        <input type="text" id="cryptoCurrency" name="cryptoCurrency"><br>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount"><br>

        <fieldset>
            <legend>Buy or Sell:</legend>
            <input type="radio" id="buy" name="buy_sell" value="Buy">
            <label for="buy">Buy</label>
            
            <input type="radio" id="sell" name="buy_sell" value="Sell">
            <label for="sell">Sell</label>
        </fieldset>

        <label for="submission">Submit:</label><br>
        <input type="submit" id="submit" name="submit"><br>

        <label for="cancel">Cancel:</label><br>
        <input type="reset" id="cancel" name="cancel"><br>
    </form>

</body>

</html>